
.conteudo{
    position: relative;
}


#image { 
    position: fixed;
    width: 100%;
    height: 8%;
    left: 0px;
    top: 0px;
    right: 0px;
}

.logo {
    position: relative;
}

#bibliotaku {
    width: 50%;
}

#menu {
    position:fixed;
    background: black;
    color: aliceblue; 
    width: 100%;
    left:0px; 
}

#rodape {
    width: 600px;
    padding: 10px 2%;
    background-color: #888888;
    color: white;
    text-align: center;
}